<?xml version="1.0"?>

<model>
    <name> Crane </name>
    <version> 1.0 </version>
    <sdf version="1.10">model.sdf</sdf>

    <author>
        <name> NS </name>
        <email> NS@gmail.com </email>
    </author>

    <description>
        Crane to hold a humanoid
    </description>

    <thumbnail>thumbnails/Crane.jpg</thumbnail>
</model>
