<?xml version="1.0"?>

<model>
    <name> Bambu_Lab_X1_Carbon </name>
    <version> 1.0 </version>
    <sdf version="1.10">model.sdf</sdf>

    <author>
        <name> NS </name>
        <email> NS@gmail.com </email>
    </author>

    <description>
        3D printer Bambu Lab X1 Carbon
    </description>

    <thumbnail>thumbnails/Bambu.jpg</thumbnail>
</model>
