<?xml version="1.0"?>

<model>
    <name> Temi </name>
    <version> 1.0 </version>
    <sdf version="1.10">model.sdf</sdf>

    <author>
        <name> NS </name>
        <email> NS@gmail.com </email>
    </author>

    <description>
        Temi (source: https://grabcad.com/library/temi-v2-1)
    </description>

    <thumbnail>thumbnails/Temi.png</thumbnail>
</model>
