<?xml version="1.0"?>

<model>
    <name> TV </name>
    <version> 1.0 </version>
    <sdf version="1.10">model.sdf</sdf>

    <author>
        <name> NS </name>
        <email> NS@gmail.com </email>
    </author>

    <description>
        Temi
    </description>

    <thumbnail>thumbnails/TV.jpg</thumbnail>
</model>
